---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Careers  –  AWWG – Pepe Jeans London | Hackett | Façonnable">
  <header class="w-full relative mt-24 h-[420px] overflow-hidden object-center flex flex-col items-center justify-center">
    <img src="../../../public/banner_careers.webp">
    <p class="absolute text-6xl font-extrabold text-white text-center" style={{top: '50%', left:'50%', transform: 'translate(-50%, -50%)'}}>Careers</p>

  </header>
  <section class="flex flex-row h-[300px]">

  </section>
</Layout>
