---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import CareersDescription from '../../components/CareersDescription.astro';
---

<Layout title="Careers  –  AWWG – Pepe Jeans London | Hackett | Façonnable">
  <Header img="banner_careers.webp" text="Careers" />
  <CareersDescription />
  <h1 class="text-3xl font-bold text-center" style={{ color: '#305374' }}>
    Our divisions
  </h1>
  <section class="flex flex-row justify-center items-center gap-20 my-20">
    <article class="flex flex-col w-[370px] h-[580px] relative">
      <img src="../../../public/careers1.webp" class="w-[370px] h-[580px]" />
      <div
        class="absolute flex flex-col w-[370px] h-[580px] justify-around items-center gap-48"
      >
        <h2 class="text-white text-3xl font-bold w-[100px] text-center">
          Office careers
        </h2>
        <button
          class="text-white rounded border-2 font-semibold border-white py-2 px-6 hover:bg-white hover:text-black"
          >Find more</button
        >
      </div>
    </article>
    <article class="flex flex-col w-[370px] h-[580px] relative">
      <img src="../../../public/careers2.webp" class="w-[370px] h-[580px]" />
      <div
        class="absolute flex flex-col w-[370px] h-[580px] justify-around items-center gap-48"
      >
        <h2 class="text-white text-3xl font-bold w-[100px] text-center">
          Retail careers
        </h2>
        <button
          class="text-white rounded border-2 font-semibold border-white py-2 px-6 hover:bg-white hover:text-black"
          >Find more</button
        >
      </div>
    </article>
    <article class="flex flex-col w-[370px] h-[580px] relative">
      <img src="../../../public/careers3.webp" class="w-[370px] h-[580px]" />
      <div
        class="absolute flex flex-col w-[370px] h-[580px] justify-around items-center gap-48"
      >
        <h2 class="text-white text-3xl font-bold w-[100px] text-center">
          Intership & graduate program
        </h2>
        <button
          class="text-white rounded border-2 font-semibold border-white py-2 px-6 hover:bg-white hover:text-black"
          >Find more</button
        >
      </div>
    </article>
  </section>
</Layout>
