---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro'
---

<Layout title="Welcome to Astro.">
	<h1 class="animate-fade-in-left text-white">Bienvenido a mi portfolio</h1>
</Layout>

