---
import Layout from '../../layouts/Layout.astro';
import { sustainability } from '../../helpers/const.js';
import Header from '../../components/Header.astro';
---

<Layout title="Sustainability – AWWG">
  <Header img="/sustainability.webp" text="Sustainability" />
  <div class="flex flex-col justify-center items-center mt-20 gap-10">
    <p class="w-full lg:w-[1200px] text-center">
      At AWWG, we are taking action to make our organisation more sustainable,
      inclusive, and competitive. For this reason, social and environmental
      concerns are integrated into our supply chain and wider business strategy.
    </p>
    <h1 class="text-3xl font-bold" style={{ color: '#305374' }}>
      Sustainability
    </h1>
  </div>
  <div class="flex justify-center items-center">
    <main
      class="grid grid-cols-1 lg:grid-cols-2 my-20 gap-10 w-[1200px] animate-slide-up-fade"
    >
      {
        sustainability.map((section, i) => {
          return (
            <article class="flex flex-col w-full lg:w-[510px] gap-6">
              <div class="relative">
                <img src={section.img} />
                <p
                  class="absolute text-white text-4xl font-bold"
                  style={{
                    top: '50%',
                    left: '50%',
                    transform: 'translate(-50%, -50%)',
                  }}
                >
                  {section.name}
                </p>
              </div>
              <p class="w-full p-4 text-justify lg:p-0">{section.text}</p>
            </article>
          );
        })
      }
    </main>
  </div>
</Layout>
