---
import Layout from '../../layouts/Layout.astro';
import {sustainability} from '../../helpers/const.js'
---

<Layout title='Sustainability – AWWG'>
  <header class="w-full h-[425px] overflow-hidden mt-24 flex justify-center items-center relative">
    <img src="../../../public/sustainability.webp" class="object-center"/>
    <h1 class="absolute text-white text-7xl font-bold" style={{top: '50%', left:'50%', transform: 'translate(-50%, -50%)'}}>Sustainability</h1>
  </header>
  <main class="grid grid-cols-2 w-full">
    {sustainability.map(section => {
      return (
        <article class="flex flex-col w-[510px]">
          <div>
            <img src={section.img}/>
          </div>
          <p>{section.text}</p>
        </article>
      )
    })}
  </main>
</Layout>
