---
import Layout from '../../layouts/Layout.astro';

---

<Layout title='News – AWWG'>
  <header class="w-full relative mt-24 h-[420px] overflow-hidden object-center flex flex-col items-center justify-center mb-20">
    <img src="../../../public/news_banner.webp">
    <p class="absolute text-6xl font-extrabold text-white text-center" style={{top: '50%', left:'50%', transform: 'translate(-50%, -50%)'}}>News</p>

  </header>
  <div class="flex flex-col gap-6">
    <h2 class="text-center text-xl font-bold">Stay up to date on the latest from AWWG
</h2>
    <p class="text-center">Find everything you need to know about AWWG’s initiatives, collaborations, and announcements as well as the newest information on our brands.</p>
  </div>+
  </Layout>
