---
import Layout from '../../layouts/Layout.astro';
import {news} from '../../helpers/const.js'
---

<Layout title='News – AWWG'>
  <header class="w-full relative mt-24 h-[420px] overflow-hidden object-center flex flex-col items-center justify-center mb-20">
    <img src="../../../public/news_banner.webp">
    <p class="absolute text-6xl font-extrabold text-white text-center" style={{top: '50%', left:'50%', transform: 'translate(-50%, -50%)'}}>News</p>

  </header>
  <div class="flex flex-col gap-6 mb-10">
    <h2 class="text-center text-3xl font-semibold">Stay up to date on the latest from AWWG</h2>
    <p class="text-center">Find everything you need to know about AWWG’s initiatives, collaborations, and announcements as well as the newest information on our brands.</p>
  </div>+
  <section class="flex flex-col justify-center items-center">
    {news.map(section => {
      return (
        <article class="w-[1200px] h-[315px]">

        </article>
      )
    })}
  </section>
  </Layout>
