---
import Layout from '../../layouts/Layout.astro';
import { brands } from '../../helpers/const.js';
import Brand from '../../components/Brand.astro';
console.log('Hola');
---

<Layout title="Brands – AWWG">
  <header
    class="w-full relative mt-24 h-[420px] overflow-hidden object-center flex flex-col items-center justify-center"
  >
    <img src="/brands.webp" />
    <p
      class="absolute text-6xl font-extrabold text-white text-center"
      style={{ top: '50%', left: '50%', transform: 'translate(-50%, -50%)' }}
    >
      Brands
    </p>
  </header>
  {
    brands.map((brand) => {
      return <Brand brand={brand} />;
    })
  }
  <div class="h-20"></div>
</Layout>
