---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Brands – AWWG">
  <header class="w-full relative mt-24 h-[320px] overflow-hidden object-center flex flex-col items-center justify-center">
    <img src="../../../public/brands.webp">
    <p class="absolute text-6xl font-extrabold text-white text-center" style={{top: '50%', left:'50%', transform: 'translate(-50%, -50%)'}}>Brands</p>

  </header>
  <main class="bg-white flex flex-col justify-center items-center mt-20 gap-10">

    <img src='../../../public/pepe-jeans-2.webp' class="text-black"/>
    <p class="w-[1200px] text-justify">Pepe Jeans London has been at the forefront of international denim-led fashion for the past 50 years, being able to create an internationally recognized brand with a unique strategy and reputation. This has been possible thanks not only to the great Pepe Jeans team but also to the commitment to create the best possible collections and the most exciting retail environments while remaining sincere to the brand’s DNA and in particular the roots in London’s Portobello Road. Pepe Jeans London has also collaborated with the most iconic celebrities such as Kate Moss, Sienna Miller, Alexa Chung, Cara Delevingne, Georgia Jagger or Dua Lipa, in the hottest multimedia marketing campaigns.</p>
    <div class="relative">
      <img src="../../../public/brands-pepe-jeans.webp" class="w-[1200px]"/>
      <a class="absolute bottom-0">
        <button class="p-4 border rounded border-white">GO TO SITE</button>
      </a>
    </div>
  </main>
</Layout>
