---
import Layout from '../../layouts/Layout.astro';
import Brand from '../../components/Brand.astro';
import { BRANDS } from '../../helpers/const.js';
import Header from '../../components/Header.astro';
---

<Layout title="Brands – AWWG">
  <Header img="brands.webp" text="Brands" />
  {
    BRANDS.map((brand) => {
      return <Brand brand={brand} />;
    })
  }
  <div class="h-20"></div>
</Layout>
