---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Brands – AWWG">
  <header class="w-full relative mt-24 h-[320px] overflow-hidden object-center flex flex-col items-center justify-center">
    <img src="../../../public/brands.webp">
    <p class="absolute text-6xl font-extrabold text-white text-center" style={{top: '50%', left:'50%', transform: 'translate(-50%, -50%)'}}>Brands</p>

  </header>
  <main>

    <img src='../../../public/pepe_jeans-1.webp'/>
  </main>
</Layout>
