---
const { data } = Astro.props;
---

<article class="flex justify-center items-center">
  <h2 class="text-center">
    <span
      class="flex mb-2 tabular-nums text-white text-6xl text-center font-extrabold transition-[_--num] duration-[3s] ease-out [counter-set:_num_var(--num)] supports-[counter-set]:before:content-[counter(num)]"
      x-data="{ shown: false }"
      x-intersect="shown = true"
      :class=`shown && '[--num:${data.num}]'`
    >
      <span class="supports-[counter-set]:sr-only text-white text-center"
        >+4,500</span
      >+
    </span>
    <span
      class="inline-flex font-semibold bg-clip-text text-center text-transparent bg-gradient-to-r from-orange-500 to-indigo-300 mb-2"
      >{data.text}</span
    >
  </h2>
</article>

<style>
  @property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
  }
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 200;
    }
  }
</style>
