<section class="grid gap-12 md:grid-cols-3 md:gap-16">
  <!-- Block #1 -->
  <article>
    <div
      class="w-14 h-14 rounded shadow-md bg-white flex justify-center items-center rotate-3 mb-6"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="31" height="20">
        <defs>
          <linearGradient id="icon1-a" x1="50%" x2="50%" y1="0%" y2="100%">
            <stop offset="0%" stop-color="#A5B4FC"></stop>
            <stop offset="100%" stop-color="#4F46E5"></stop>
          </linearGradient>
          <linearGradient id="icon1-b" x1="50%" x2="50%" y1="0%" y2="100%">
            <stop offset="0%" stop-color="#EEF2FF"></stop>
            <stop offset="100%" stop-color="#C7D2FE"></stop>
          </linearGradient>
        </defs>
        <g fill="none" fill-rule="nonzero">
          <path
            fill="url(#icon1-a)"
            d="M20.625 0H9.375a9.375 9.375 0 0 0 0 18.75h11.25a9.375 9.375 0 0 0 0-18.75Z"
            transform="translate(.885 .885)"></path>
          <path
            fill="url(#icon1-b)"
            d="M9.375 17.5A8.125 8.125 0 0 1 1.25 9.375 8.125 8.125 0 0 1 9.375 1.25 8.125 8.125 0 0 1 17.5 9.375 8.125 8.125 0 0 1 9.375 17.5Z"
            transform="translate(.885 .885)"></path>
        </g>
      </svg>
    </div>
    <h2>
      <span class="flex text-slate-900 text-5xl font-extrabold mb-2">
        40K+
      </span>
      <span
        class="inline-flex font-semibold bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-indigo-300 mb-2"
        >Variations</span
      >
    </h2>
    <p class="text-sm text-slate-500">
      Many desktop publishing packages and web page editors now use Pinky as
      their default model text.
    </p>
  </article>

  <!-- Block #2 -->
  <!-- Block #3 -->
</section>
