---
import { COUNTER_DATA } from '../helpers/const.js';
import ArticleCounter from './ArticleCounter.astro';
---

<div
  class="flex justify-center items-center p-48 lg:px-48 h-96"
  style={{ backgroundColor: '#2E5172' }}
>
  <div class="flex">
    <section class="grid gap-12 lg:grid-cols-4 lg:gap-16">
      <ArticleCounter />
    </section>
  </div>
</div>
