<section
  class="flex flex-col lg:flex-row lg:h-[300px] p-[40px] gap-20 items-center justify-center lg:mt-20 animate-slide-in-right h-full"
>
  <img src="/logo_greatPlace.webp" class="h-full" />
  <div class="flex flex-col w-full lg:w-[600px]">
    <p class="h-full text-center">
      AWWG is the global fashion group which integrates the brands Pepe Jeans
      London, Hackett and Façonnable, and is the licensed distributor for Tommy
      Hilfiger and Calvin Klein in Spain and Portugal. We’re a group that loves
      challenges, pushing the limits and defying the status quo.
    </p>
  </div>
</section>
