---
import { EXECUTIVE_TEAM } from '../helpers/const.js';
import Button from './Button.astro';
---

<section
  class="flex flex-col justify-center items-center w-full h-full gap-10 p-4 lg:p-20"
>
  <h2 class="text-3xl font-semibold text-blue-900">Executive team</h2>
  <main class="grid lg:grid-cols-2 gap-1 lg:w-[1200px]">
    {
      executiveTeam.map((executive) => {
        return (
          <article class="flex flex-col lg:flex-row ">
            <div class="h-1/2 lg:h-full lg:w-1/2">
              <img src={executive.img} class="w-full" />
            </div>
            <main
              class="flex flex-col justify-center items-center h-1/2 lg:h-full lg:w-1/2 text-white gap-4 text-center"
              style={{ backgroundColor: '#A0B6C2' }}
            >
              <h2 class="text-3xl font-semibold w-2/3">{executive.name}</h2>
              <h4>{executive.position}</h4>
              <a href={executive.url}>
                <Button text="See more" />
              </a>
            </main>
          </article>
        );
      })
    }
  </main>
</section>
