---
import { sections, partners, footer } from '../helpers/const.js'
---

<footer class="h-96" style={{backgroundColor: '#2E5171'}}>
  <section>
    {partners.map(partner => {
      return (
        <a>
          <img src={partner.img}/>
        </a>
      )
    })}
  </section>
</footer>


