<section
  class="w-full flex h-96 lg:h-auto justify-center items-center bg-white mt-24 relative"
>
  <img src="/bg_main.jpg" class="w-full h-full" />
  <img src="/awwg.svg" class="w-44 lg:w-96 absolute" />
</section>
