---
const menu = ['About us', 'Brands', 'Sustainability', 'Careers', 'News']
---

<nav class="w-screen fixed h-32 flex flex-row bg-white top-0">
  <img src='../../public/awwg.svg' alt="logo empresa"/>
  <ul class="flex flex-row">

    {menu.map((item, index) => {
      return <a><li>{item}</li></a>
    })}
    </ul>
    </nav>
