---
const menu = ['About us', 'Brands', 'Sustainability', 'Careers', 'News']
---

<nav class="w-screen fixed h-28 flex flex-row bg-white top-0 justify-around items-center">
  <img src='../../public/awwg.svg' alt="logo empresa" class="h-full p-3"/>
  <ul class="flex flex-row gap-10">

    {menu.map((item, index) => {
      return <a><li><p class="text-lg text-blue-400">{item}</p></li></a>
    })}
    </ul>
    </nav>
