---
import sections from '../helpers/const.js'
---

<nav class="w-screen fixed h-24 flex flex-row bg-white top-0 justify-around items-center">
  <img src='../../public/awwg.svg' alt="logo empresa" class="h-full p-3"/>
  <ul class="flex flex-row gap-10">

    {sections.map((item, index) => {
      return <a><li><p class="text-base text-blue-900">{item}</p></li></a>
    })}
    </ul>
    </nav>
