---
import {sections} from '../helpers/const.js'
---

<nav class="w-screen fixed h-24 flex flex-row bg-white top-0 justify-around items-center z-50 ">
  <a href="">

    <img src='../../public/awwg.svg' alt="logo empresa" class="h-full p-3"/>
  </a>
  <ul class="flex flex-row gap-10">

    {sections.map((item, index) => {
      return <a href={item.url}><li><p class="text-base text-blue-900">{item.name}</p></li></a>
    })}
    </ul>
    </nav>
