---
import { SECTIONS } from '../helpers/const.js';
---

<section
  class="w-full min-h-auto-[480px] flex flex-col flex-1 lg:flex-row justify-center items-center gap-4 py-10 bg-white"
>
  {
    SECTIONS.map((section, i) => {
      return (
        <a
          href={section.url}
          class="w-[480px] h-[640px] relative overflow-hidden hover:cursor-pointer"
        >
          <article index={i} class="article">
            <img
              src={section.img}
              class="w-full h-full hover:scale-110 transition-all"
            />
            <p
              class="absolute text-3xl font-extrabold text-white text-center"
              style={{
                top: '50%',
                left: '50%',
                transform: 'translate(-50%, -50%)',
              }}
            >
              {section.name}
            </p>
          </article>
        </a>
      );
    })
  }
</section>

<style>
  .gray {
    -webkit-filter: grayscale(100%);
  }
</style>

<script>
  const DATA = document.querySelectorAll('.article');
  DATA.forEach((element) => {
    element.addEventListener('mouseenter', (e) => {
      console.log(DATA);
    });
  });
</script>
