---
import {sections} from '../helpers/const.js'
---

<section class=" flex flex-col lg:flex-row">
  {sections.map(section => {
    return (
      <article class="w-48 h-96 border">

      </article>
    )
  })}

</section>
