---
import {sections} from '../helpers/const.js'
---

<section class=" flex flex-col lg:flex-row justify-center items-center gap-10 p-4">
  {sections.map(articulo => {
    return (
      <article class="w-[480px] h-96 border relative">
        <img src={`${articulo.img}`}/>
      </article>
    )
  })}

</section>
