---
const {
  className = 'vertical-timeline-element--work',
  contentStyle = null,
  contentArrowStyle = null,
  date,
  iconStyle,
  icon,
} = Astro.props;
import './timeline_styles.css';
// let observer = new MutationObserver(() => {
//   console.log('Hemos llegado al observer');
// });
// observer.observe(elem, {
//   childList: true,
// });
---

<div
  class="vertical-timeline vertical-timeline--animate vertical-timeline--two-columns"
  style="--line-color: #000;"
  id="elem"
>
  <slot />
</div>
