---
const {
  className = 'vertical-timeline-element--work',
  contentStyle = null,
  contentArrowStyle = null,
  date,
  iconStyle,
  icon,
} = Astro.props;
import './timeline_styles.css';
---

<div
  class="vertical-timeline vertical-timeline--animate vertical-timeline--two-columns"
  #000
>
  <slot />
</div>
